<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/view/teaminfo/teaminfo.css" rel="stylesheet"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/plugins/TextPlugin.min.js"></script>
	<script src="/view/teaminfo/teaminfo.js"></script>

	<!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
	<script src="/viewsetup.js"></script>
</head>
<body>
<div id="container">
  <div id="away-image">
  </div>
  <div id="away-info">
    <div id="away-name">
      <div id="away-name-text"></div>
    </div>
    <div id="away-desc">
      <div id="away-desc-text"></div>
    </div>
  </div>
  <div id="away-roster">
    <div id="away-roster-dropdown">
    </div>
    <div id="away-player-template" style="display: none;">
      <div class="away-player">
        <div class="away-player-class"><img src="/view/teaminfo/img/scout.png" /></div>
        <div class="away-player-name"><span></span></div>
      </div>
    </div>
  </div>
  <div id="home-image">
  </div>
  <div id="home-info">
    <div id="home-name">
      <div id="home-name-text"></div>
    </div>
    <div id="home-desc">
      <div id="home-desc-text"></div>
    </div>
  </div>
  <div id="home-roster">
    <div id="home-roster-dropdown">
    </div>
    <div id="home-player-template" style="display: none;">
      <div class="home-player">
        <div class="home-player-name"><span></span></div>
        <div class="home-player-class"><img /></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
